* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.3em;
}

.flex-item {
  width: 160px;
  height: 80px;
  margin: 1px;
  padding: 10px;
  background-color: purple;
  color: white;
  text-align: center;
}

/* Add your code here */

.flex-container {
  display: flex;
  height: 300px;
  flex-flow: wrap-reverse; 
  flex-direction: column-reverse;
  align-content: space-between;
}

.item1{
  order:10
}



/* .item8 {
  order:-7
}

.item5 {
  order: -4
} */
